<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
    <title>Inventories</title>
</head>
<body>
<section layout:fragment="content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Inventories</li>
        </ol>
    </nav>



    <div class="card">
        <div class="card-header">
            Inventories
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Inventory Id</th>
                    <th scope="col">name</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">reserved</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="inventory : ${inventories}">
                    <td th:text="${inventory.id}"></td>
                    <td th:text="${inventory.name}"></td>
                    <td th:text="${inventory.weight}"></td>
                    <td th:text="${inventory.quantity}"></td>
                    <td th:text="${inventory.reserved}"></td>
                    <td th:text="${inventory.type}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>




    <!-- Pagination controls -->
    <div>
        <ul class="pagination">
            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a th:href="@{/admin/inventories(page=${i}, size=20)}"
                   th:text="${i + 1}"></a>
            </li>
        </ul>
    </div>
</section>

<section layout:fragment="scripts">
   
</section>



</body>
</html>
